<div class="a">
    <h1 style="color: white !important;">Welcome to Admin</h1>
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">GrievanceId</th>
            <th scope="col">GrievanceType</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Health</td>
            <td>Open</td>
            <td><a class="btn btn-primary" href="#" role="button">Edit</a></td>
          </tr>
        </tbody>
      </table>

    </div>
