body {
    height: 120vh;
  background-image: url("src\assets\images\bridge-sunset-sky.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding-top: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.container{
  width:450px !important;
}
