html,
body {
    height: 100vh;
  background-image: url("src\assets\images\bridge-sunset-sky.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding-top: 50px;
}

.login.card {  
  width: 100%;
  max-width: 480px;
  margin:70px 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.nav {
  justify-content: center;
}
.nav .nav-link {
  border-bottom: 2px solid #fff;
  color: #333;
  padding: 0.5rem 0;
  margin-right: 1rem;
}
.nav .nav-link.active {
  border-bottom: 2px solid orangered;
  color: orangered;
}

.register.card {
  max-width: 480px;
  margin: 0 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.card .card-img-top {
  width: 100px;
  margin: 16px auto 0;
}
.alert {
  margin-top: 10px;
}

.hide {
  display: none;
}
